@font-face {
	font-family: 'themify';
	src:url('../icon-fonts/themify9f24.eot?-fvbane');
	src:url('../icon-fonts/themifyd41d.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../icon-fonts/themify9f24.woff?-fvbane') format('woff'),
		url('../icon-fonts/themify9f24.ttf?-fvbane') format('truetype'),
		url('../icon-fonts/themify9f24.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.ti-user:before {
	content: "\e602";
}
.ti-search:before {
	content: "\e610";
}
.ti-plus:before {
	content: "\e61a";
}
.ti-pencil-alt:before {
	content: "\e61d";
}
.ti-crown:before {
	content: "\e642";
}
.ti-briefcase:before {
	content: "\e651";
}
